p {
    font-size: 2em;
}
.questionContainer {
    background-color: rgba(2, 179, 250, 0.667);
    border-radius: 5px;
    min-height: 500px;
    max-width: 100%;
    margin: 10px auto;
    padding: 15px;
    
    h4 {
        text-align: center;
        position: relative;
        bottom: 30px;
        font-size: 1.2em;
        letter-spacing: .2em;
    }
    .cardQuestion {
        text-align: center;
        padding: 20px 10px;
        line-height: 1.3em;
        font-size: 1.5rem;
    }
    button {
        font-size: 2rem;
        background-color: black;
        border: none;
        padding: 3px 45px;
        top: -1px;
    }
    button:first-child {
        color: red;
    }
    button:last-child {
        color: green;
    }
    button:hover {
        cursor: pointer;
        color:white;
    }
    .grading-icon {
        vertical-align:middle;
        position: relative;
        top: -0.125em
    }
}