@import '../../index.scss';

/* styles for the modal */
.modalBackdrop {
    background: rgba(0, 0, 0, .75);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900;
}

.modalContainer {
    border-radius: 5px;
    margin: 30px auto;
    width: 90vw;
    animation: fadeIn .5s;
    background-color: $primaryColor;

    .player-info-in-modal {
        color: $tertiaryColor;
    }

    .modalHeader {
        border-bottom: 3px solid $secondaryColor;
        padding-bottom: 10px;
    }

    h4 {
        display: inline;
        vertical-align: text-top;
        position: relative;
        font-size: 2em;
        letter-spacing: .2em;
        margin: 2px;
        font-family: $pointNumber;
    }
    h3 {
        font-size: 2.5em;
    }

    .cardQuestionText {
        text-align: center;
        padding: 20px 10px;
        line-height: 1.3em;
        font-size: 1.5rem;
        color: $tertiaryColor;
    }

    modal-buttons:hover {
        cursor: pointer;
        color: $gray;
    }

    #runnerup-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #runnerup-name {
        font-size: 1.6em;
        font-family: $pointNumber;
        margin-bottom: 10px;
        color: $secondaryColor;
        animation: fadeIn 1s ease-in;
    }
    .grading-icon {
        vertical-align: middle;
        position: relative;
        top: -0.125rem
    }

    .questionContainer {
        background-color: $primaryColor;
        margin: 0 auto;
        min-height: 200px;
        margin-top: 0px;
        border-radius: 0 0 4px 4px; 
        margin-bottom: 20px;

        #modal-button-div {
            flex-wrap: wrap;

            #correct-answer {
                background-color: green;
            }
            #wrong-answer {
                background-color: $red;
            }
            #correct-answer:hover, #wrong-answer:hover {
                color: $primaryColor;
            }
            #show-answer-reveal-div{
                text-align: center;
            }
            #show-answer-btn {
                margin-right: 0;
                background-color: green;
            }
            #show-answer-btn:hover {
                color: $primaryColor;
            }
            .runnerup-name-adding {
                font-size: 1.2em;
                font-family: $pointNumber;
                margin-right: 20px;
                color: $tertiaryColor;

            }
            #end-game-btn {
                background-color: $red;
            }
            #next-player-btn {
                background-color: green;
            }
            #next-player-btn:hover {
                color: $primaryColor;
            }
        }
        .modal-buttons {
            font-size: 1.3em;
            border: none;
            padding: 5px 20px;
            border-radius: 4px;
            margin-right: 10px;
            margin-top: 20px;
            font-weight: 700;
            background-color: $gray;
            color: $tertiaryColor;
            transition: all .2s;
            margin-bottom: 10px;
        }
        .modal-buttons:hover {
            background-color: $secondaryColor;
        }
        .modal-buttons:active {
            border-radius: 8px;
        }
        .modal-button:nth-child(1) {
            background-color: green;
        }
    }
}

.button:disabled {
    opacity: .5%;
}

// animations //
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }

}

@keyframes bonusAppear {
    from {
        opacity: 0;

        transform: scale(0);
    }
    to {
        opacity: 1;

        transform: scale(1);
    }
}

@media screen and (max-width: 500) {
    .modalContainer {
        width: 80%;
    }
}