* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #F1EEE9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* UTILITY Classes */
.flex-box-sa {
  display: flex;
  justify-content: space-around;
}

.flex-box-sb {
  display: flex;
  justify-content: space-between;
}

.flex-box-se {
  display: flex;
  justify-content: space-evenly;
}

.flex-box-se-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-box-sb-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-box-col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-box-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-box-col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73777B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EC994B;
  width: 8px;
}

#create-game-form-view-public {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}
#create-game-form-view-public div:first-child {
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}
#create-game-form-view-public div:first-child #public-game {
  margin-right: 5px;
  margin-left: 5px;
  height: 18px;
  width: 18px;
  margin-top: 10px;
  accent-color: #EC994B;
}
#create-game-form-view-public div:first-child #study-set {
  margin-right: 5px;
  margin-left: 5px;
  height: 18px;
  width: 18px;
  margin-top: 10px;
  accent-color: #EC994B;
}
#create-game-form-view-public div:first-child label {
  font-size: 1.1em;
  color: #15133C;
}
#create-game-form-view-public .create-game-txt-input {
  padding: 5px;
  padding-right: 30px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 30px;
}
#create-game-form-view-public .create-game-txt-input:focus {
  border: 1px solid transparent;
  outline: 2px solid #EC994B;
}
#create-game-form-view-public .edit-game-btns {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 40px;
  background-color: #EC994B;
  border: none;
  border-radius: 4px;
  color: #15133C;
  font-size: 1.2em;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: appearIn 0.8s 1.5s both;
          animation: appearIn 0.8s 1.5s both;
  transition: 0.2s;
}
#create-game-form-view-public .edit-game-btns:hover {
  color: #F1EEE9;
  cursor: pointer;
}
#create-game-form-view-public .edit-game-btns:active {
  border-radius: 10px;
}
#create-game-form-view-public #delete-game-btn {
  font-size: 1em;
  padding: 5px 10px;
  background-color: rgb(205, 0, 0);
  color: #F1EEE9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#create-game-form-view-public #delete-game-btn:hover {
  color: #15133C;
}

#question-accordion-view-public {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}
#question-accordion-view-public .category-label {
  font-size: 1.5rem;
  display: block;
  text-align: left;
  font-weight: 700;
  color: #73777B;
}
#question-accordion-view-public .point-label {
  margin-bottom: 10px;
  font-size: 1.3em;
  margin-top: 10px;
  text-align: center;
  font-family: "Mochiy Pop One", sans-serif;
  color: #EC994B;
}
#question-accordion-view-public textarea {
  display: block;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: 2px solid #73777B;
  border-radius: 4px;
  background-color: #F1EEE9;
}
#question-accordion-view-public textarea::-moz-placeholder {
  color: #73777B;
}
#question-accordion-view-public textarea:-ms-input-placeholder {
  color: #73777B;
}
#question-accordion-view-public textarea::placeholder {
  color: #73777B;
}
#question-accordion-view-public textarea:-ms-input-placeholder {
  color: #73777B;
}
#question-accordion-view-public textarea::-ms-input-placeholder {
  color: #73777B;
}
#question-accordion-view-public textarea:focus {
  outline: none;
}
#question-accordion-view-public input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #F1EEE9;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  padding: 5px;
  font-size: 1.1rem;
  color: #EC994B;
}
#question-accordion-view-public input::-moz-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion-view-public input:-ms-input-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion-view-public input::placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion-view-public input:-ms-input-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion-view-public input::-ms-input-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion-view-public input:focus {
  outline: none;
}
#question-accordion-view-public .question-content {
  padding: 0 10px;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.5s;
}
#question-accordion-view-public .single-question-div {
  border-bottom: 3px solid #F1EEE9;
  margin-top: 20px;
  padding-bottom: 30px;
}
#question-accordion-view-public li {
  display: block;
  list-style: none;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #15133C;
  position: relative;
  top: -100px;
}
#question-accordion-view-public li input[type=radio] {
  display: none;
}
#question-accordion-view-public li input[type=radio]:checked + .question-content {
  max-height: 300px;
}
#question-accordion-view-public #form-el-view-1 {
  -webkit-animation: dropDown 0.7s 0.3s both;
          animation: dropDown 0.7s 0.3s both;
}
#question-accordion-view-public #form-el-view-2 {
  -webkit-animation: dropDown 0.7s 0.5s both;
          animation: dropDown 0.7s 0.5s both;
}
#question-accordion-view-public #form-el-view-3 {
  -webkit-animation: dropDown 0.7s 0.7s both;
          animation: dropDown 0.7s 0.7s both;
}
#question-accordion-view-public #form-el-view-4 {
  -webkit-animation: dropDown 0.7s 0.9s both;
          animation: dropDown 0.7s 0.9s both;
}
#question-accordion-view-public #form-el-view-5 {
  -webkit-animation: dropDown 0.7s 1.1s both;
          animation: dropDown 0.7s 1.1s both;
}
#question-accordion-view-public #form-el-view-6 {
  -webkit-animation: dropDown 0.7s 1.3s both;
          animation: dropDown 0.7s 1.3s both;
}
#question-accordion-view-public label {
  align-items: center;
  cursor: pointer;
}
#question-accordion-view-public label span {
  transform: rotate(90deg);
  font-size: 22px;
}

#isOwner-message {
  text-align: center;
  color: rgb(205, 0, 0);
  font-size: 1.2em;
}

@-webkit-keyframes dropDown {
  from {
    top: -1000px;
  }
  to {
    top: 0px;
  }
}

@keyframes dropDown {
  from {
    top: -1000px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes appearIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=viewPublicGame.css.map */