// Resets 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Variables for Colors
$primaryColor: #F1EEE9;
$secondaryColor: #EC994B;
$tertiaryColor: #15133C;
$gray: #73777B;
$red: rgb(205, 0, 0);

// Variables for Fonts
$pointNumber:'Mochiy Pop One', sans-serif;
$primaryFont: 'Roboto', sans-serif;


html {
    background-color: $primaryColor;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $primaryFont;
}


/* UTILITY Classes */
.flex-box-sa {
    display: flex;
    justify-content: space-around;
}
.flex-box-sb {
    display: flex;
    justify-content: space-between;
}
.flex-box-se {
    display: flex;
    justify-content: space-evenly;
}


.flex-box-col-se {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.flex-box-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-box-col-sa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}