@import '../../index.scss';

// List for category fonts. Generate dynamically based on word count
// They are rounded to the nearest 10
.font-cat-0 {
    font-size: 1.4rem;
}
.font-cat-10 {
    font-size: 1.25rem;
}
.font-cat-20 {
    font-size: 1.2rem;
}
.font-cat-30 {
    font-size: 1.1rem;
}
.font-cat-40 {
    font-size: .85rem;
}
.font-cat-50 {
    font-size: .8rem;
}
.font-cat-60 {
    font-size: .75rem;

}
.font-cat-70 {
    font-size: .8rem;
    
}
.font-cat-80 {
    font-size: .75rem;
}
.font-cat-90 {
    font-size: .72rem;
    
}
.font-cat-100 {
    font-size: .71rem;
    
}
.font-cat-110 {
    font-size: .7rem;
}

.column {
    flex: 1;
    margin: 0 auto;
    h3 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        height: 70px;
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        color: $secondaryColor;
        background-color: $tertiaryColor;
        font-weight: 400;
    }
    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
        margin-bottom: 10px;
        text-align: center;
        margin-right: 5px;
        margin-left: 5px;

        button {
            padding: 15% 19%;
            width: 100%;
            font-size: 2.2rem;
            border: 1px solid black;
            border-radius: 4px;
            color: white;
            font-family: $pointNumber;
            background-color: $secondaryColor;

        }
        .deactivated-button {
            background-color: $gray;
            color: gray;
        }
    }
}
