@import '../../index.scss';

#student-study {
    .studySet-highscore {
        font-size: 1.3em;
        font-weight: 700;
        align-self: baseline;
        color: $tertiaryColor;
        margin-right: 2.5%;
        letter-spacing: .1em;
        span {
            color: $secondaryColor;
        }
    }
    .end-game-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        border: 3px solid black;
        position: relative;
        padding: 2rem;
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 4px;
        background-color: white;
        animation: appearIn 2s;

        .retry-btn {
            width: fit-content;
            margin: 0 auto;
            background-color: $tertiaryColor;
            color: $secondaryColor;
        }
        .retry-btn:hover {
            color: $primaryColor
        }
        .end-game-text {
            font-size: 2.5em;
            font-family: $pointNumber;
            color: $tertiaryColor;
            text-align: center;
            span {
                display: block;
                font-size: 4.5em;
            }
            .score {
                color: $secondaryColor;
            }
        }
        p.end-game-text {
            span {
                font-size: 1.4em;
                color: $secondaryColor;
                display: inline;
            }
        }
        h3 {
            color: $tertiaryColor;
            font-size: 1.2em;
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }

    h1 {
        align-self: baseline;
        font-family: $pointNumber;
        color: $tertiaryColor;
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
    }
    .study-set-back-btn {
        align-self: baseline;
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        border: 1px solid black;
        border-radius: 4px;
        background-color: $red;
        color: $primaryColor;
        margin-left: 2.5%;
        padding: 5px 10px;
        transition: .2s;
    }
    .study-set-back-btn:hover {
        cursor: pointer;
        color: $tertiaryColor;
    }
    .study-set-back-btn:active {
        border-radius: 8px;
    }

    .card-line {
        > div:not(:nth-child(1)) {
            display: none;
        }

        .question-label {
            position: absolute;
            top: -170px;
            font-weight: 700;
        }
    }
    .study-card {
        background-color: $secondaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
        transform-style: preserve-3d;
        border-radius: 8px;
        width: 95%;
        height: 300px;
        box-shadow: 0 6px 5px 2px rgba(0, 0, 0, .3);
        transition: 220ms;
        transform: perspective(1000px) rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0));
    }
    .study-card:hover {
        cursor: pointer;
        box-shadow: 0 6px 5px 2px rgba(0, 0, 0, .5);
        --translate-y: -2px;
    }
    .flip {
        --rotate-y: 180deg;
    }
    .study-info {
        position: absolute;
        font-size: 1.15em;
        line-height: 1.4;
        color: $tertiaryColor;
        padding: 2rem;
        backface-visibility: hidden;
    }
    .card-back {
        transform: rotateY(180deg);
        p {
            font-weight: 700;
        }
    
    }
    .move-card {
        font-size: 1.3em;
        border: none;
        padding: 5px 20px  0px;
        border-radius: 4px;
        font-weight: 700;
        margin-bottom: 50px;
        background-color: $tertiaryColor;
        color: $primaryColor;
        transition: all .2s;
        margin-bottom: 10px;
    }
    .move-card:hover {
        color: $secondaryColor;
    }
    .move-card:active {
        border-radius: 8px;
    }
    .studyset-btns {
        p {
            font-size: 1.4em;
            font-weight: 700;
            color: $tertiaryColor;
        }
    }
    #answer-flashcard {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        padding: 5px;
        font-size: 1rem;
        color: $tertiaryColor;
        border-radius: 4px;
        border: 1px solid $tertiaryColor;
        font-family: $primaryFont;
    }
    #answer-flashcard:focus {
        outline: 2px solid $secondaryColor;
        border: 1px solid transparent;
    }
    .submit-answer {
        background-color: $tertiaryColor;
        display: block;
        margin: 20px auto;
        padding: 6px 40px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
        color: $primaryColor;
        transition: .2s;
    }
    .submit-answer:hover {
        color: $secondaryColor;
        cursor: pointer;
    }
    .submit-answer:active {
        border-radius: 8px;
    }
}

@keyframes flyAway {
    from {
        top: 0;
    }
    to {
        top: -2000px;
    }
    
}

@keyframes appearIn {
    from {
        top: -500px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes turnRed {
    from {
        background-color: $primaryColor;
    }
    to {
        background-color: $red;
    }
}


@media screen and (max-width: 500px) {
    #main-header {
        margin-bottom: 20px;
    }
    #student-study {
        h1 {
            margin-bottom: 10px;
        }
        .study-card {
            height: 280px;
            p {
                font-size: .75em;
            }
        }
    }
    
}