* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #F1EEE9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* UTILITY Classes */
.flex-box-sa {
  display: flex;
  justify-content: space-around;
}

.flex-box-sb {
  display: flex;
  justify-content: space-between;
}

.flex-box-se {
  display: flex;
  justify-content: space-evenly;
}

.flex-box-se-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-box-sb-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-box-col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-box-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-box-col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#student-study h1 {
  align-self: baseline;
  font-family: "Mochiy Pop One", sans-serif;
  color: #15133C;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}
#student-study h2 {
  align-self: baseline;
  margin-right: 2.5%;
  font-size: 1.3em;
}
#student-study .study-set-back-btn {
  align-self: baseline;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(205, 0, 0);
  color: #F1EEE9;
  margin-left: 2.5%;
  padding: 6px 20px;
  transition: 0.2s;
}
#student-study .study-set-back-btn:hover {
  cursor: pointer;
  color: #15133C;
}
#student-study .study-set-back-btn:active {
  border-radius: 8px;
}
#student-study .card-line > div:not(:nth-child(1)) {
  display: none;
}
#student-study .card-line .question-label {
  position: absolute;
  top: -170px;
  font-weight: 700;
}
#student-study .study-card {
  background-color: #EC994B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  transform-style: preserve-3d;
  border-radius: 8px;
  width: 95%;
  height: 350px;
  box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.3);
  transition: 220ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}
#student-study .study-card:hover {
  cursor: pointer;
  box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.5);
  --translate-y: -2px;
}
#student-study .flip {
  --rotate-y: 180deg;
}
#student-study .study-info {
  position: absolute;
  font-size: 1.4em;
  line-height: 1.4;
  color: #15133C;
  padding: 2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#student-study .card-back {
  transform: rotateY(180deg);
}
#student-study .card-back p {
  font-weight: 700;
}
#student-study .move-card {
  font-size: 1.3em;
  border: none;
  padding: 5px 20px 0px;
  border-radius: 4px;
  font-weight: 700;
  margin-bottom: 50px;
  background-color: #15133C;
  color: #F1EEE9;
  transition: all 0.2s;
  margin-bottom: 10px;
}
#student-study .move-card:hover {
  color: #EC994B;
}
#student-study .move-card:active {
  border-radius: 8px;
}
#student-study .studyset-btns p {
  font-size: 1.4em;
  font-weight: 700;
  color: #15133C;
}
#student-study #answer-flashcard {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  color: #15133C;
  border-radius: 4px;
  border: 1px solid #15133C;
  font-family: "Roboto", sans-serif;
}
#student-study #answer-flashcard:focus {
  outline: 2px solid #EC994B;
  border: 1px solid transparent;
}
#student-study .submit-answer {
  background-color: #15133C;
  display: block;
  margin: 0 auto;
  padding: 6px 40px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  color: #F1EEE9;
  transition: 0.2s;
}
#student-study .submit-answer:hover {
  color: #EC994B;
  cursor: pointer;
}
#student-study .submit-answer:active {
  border-radius: 8px;
}

@-webkit-keyframes flyAway {
  from {
    top: 0;
  }
  to {
    top: -2000px;
  }
}

@keyframes flyAway {
  from {
    top: 0;
  }
  to {
    top: -2000px;
  }
}
@media screen and (max-width: 500px) {
  .study-card p {
    font-size: 0.85em;
  }
}/*# sourceMappingURL=studentStudy.css.map */