* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #F1EEE9;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* UTILITY Classes */
.flex-box-sa {
  display: flex;
  justify-content: space-around;
}

.flex-box-sb {
  display: flex;
  justify-content: space-between;
}

.flex-box-se {
  display: flex;
  justify-content: space-evenly;
}

.flex-box-se-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-box-sb-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-box-col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-box-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-box-col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73777B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EC994B;
  width: 8px;
}

.header-title {
  margin-bottom: 10px;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2em;
  text-align: center;
  color: #15133C;
  margin: 55px 0 50px;
  padding: 0;
  width: 100%;
  font-size: 1.7em;
  line-height: 0.1rem;
  border-bottom: 3px solid #EC994B;
}
.header-title span {
  background: #F1EEE9;
  color: #15133C;
  padding: 0 10px;
  margin: 0 auto;
}

#create-game-form {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}
#create-game-form #form-el-1 {
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}
#create-game-form #form-el-1 #public-game {
  margin-right: 5px;
  margin-left: 5px;
  height: 18px;
  width: 18px;
  margin-top: 10px;
  accent-color: #EC994B;
}
#create-game-form #form-el-1 #study-set {
  margin-right: 5px;
  margin-left: 5px;
  height: 18px;
  width: 18px;
  margin-top: 10px;
  accent-color: #EC994B;
}
#create-game-form #form-el-1 label {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.1em;
  color: #15133C;
}
#create-game-form .create-game-txt-input {
  padding: 5px;
  padding-right: 30px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 30px;
}
#create-game-form .create-game-txt-input:focus {
  border: 1px solid transparent;
  outline: 2px solid #EC994B;
}
#create-game-form #create-game-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 40px;
  background-color: #EC994B;
  border: none;
  border-radius: 4px;
  color: #15133C;
  font-size: 1.2em;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: appearIn 0.8s 1.5s both;
          animation: appearIn 0.8s 1.5s both;
}
#create-game-form #create-game-btn:hover {
  color: #F1EEE9;
  cursor: pointer;
}
#create-game-form #create-game-btn:active {
  border-radius: 10px;
}

#question-accordion {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}
#question-accordion .category-label {
  font-size: 1.5rem;
  display: block;
  text-align: left;
  font-weight: 700;
  color: #73777B;
}
#question-accordion .point-label {
  margin-bottom: 10px;
  font-size: 1.3em;
  margin-top: 10px;
  text-align: center;
  font-family: "Mochiy Pop One", sans-serif;
  color: #EC994B;
}
#question-accordion textarea {
  display: block;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: 2px solid #73777B;
  border-radius: 4px;
  background-color: #F1EEE9;
}
#question-accordion textarea::-moz-placeholder {
  color: #73777B;
}
#question-accordion textarea:-ms-input-placeholder {
  color: #73777B;
}
#question-accordion textarea::placeholder {
  color: #73777B;
}
#question-accordion textarea:-ms-input-placeholder {
  color: #73777B;
}
#question-accordion textarea::-ms-input-placeholder {
  color: #73777B;
}
#question-accordion textarea:focus {
  outline: none;
}
#question-accordion input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #F1EEE9;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  padding: 5px;
  font-size: 1.1rem;
  color: #EC994B;
}
#question-accordion input::-moz-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion input:-ms-input-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion input::placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion input:-ms-input-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion input::-ms-input-placeholder {
  color: #EC994B;
  font-size: 1.1rem;
}
#question-accordion input:focus {
  outline: none;
}
#question-accordion .question-content {
  padding: 0 10px;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.5s;
}
#question-accordion .single-question-div {
  border-bottom: 3px solid #F1EEE9;
  margin-top: 20px;
  padding-bottom: 30px;
}
#question-accordion li {
  display: block;
  list-style: none;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  top: -1000px;
  background-color: #15133C;
}
#question-accordion li input[type=radio] {
  display: none;
}
#question-accordion li input[type=radio]:checked + .question-content {
  max-height: 300px;
}
#question-accordion #form-el-1 {
  -webkit-animation: dropDown 0.7s 0.2666666667s both;
          animation: dropDown 0.7s 0.2666666667s both;
}
#question-accordion #form-el-2 {
  -webkit-animation: dropDown 0.7s 0.4333333333s both;
          animation: dropDown 0.7s 0.4333333333s both;
}
#question-accordion #form-el-3 {
  -webkit-animation: dropDown 0.7s 0.6s both;
          animation: dropDown 0.7s 0.6s both;
}
#question-accordion #form-el-4 {
  -webkit-animation: dropDown 0.7s 0.7666666667s both;
          animation: dropDown 0.7s 0.7666666667s both;
}
#question-accordion #form-el-5 {
  -webkit-animation: dropDown 0.7s 0.9333333333s both;
          animation: dropDown 0.7s 0.9333333333s both;
}
#question-accordion #form-el-6 {
  -webkit-animation: dropDown 0.7s 1.1s both;
          animation: dropDown 0.7s 1.1s both;
}

label {
  align-items: center;
  cursor: pointer;
}
label span {
  transform: rotate(90deg);
  font-size: 22px;
}

@-webkit-keyframes dropDown {
  from {
    top: -1000px;
  }
  to {
    top: 0px;
  }
}

@keyframes dropDown {
  from {
    top: -1000px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes appearIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=createGame.css.map */