#create-game-form {
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;

    div:first-child {
        text-align: center;
        margin-bottom: 20px;

        #public-game {
            margin-right: 5px;
            height: 18px;
            width: 18px;
            accent-color: blue;
        }
        label {
            font-size: 1.2em;
        }
    }
    .create-game-txt-input {
        padding: 5px;
        font-size: 1rem;
        border-radius: 4px;
        border: 1px solid black;
    }
}


// Styles and logic for the accordion
#question-accordion {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;

    .point-label{
        margin-left: 10%;
        margin-bottom: 2px;
        font-size: 1.2em;
    }

    textarea {
        display: block;
        width: 80%;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    input {
        display: block;
        margin: 0 auto;
        width: 60%;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid black;
    }
    input:focus {
        outline: none;
    }
    label {
        display: block;
        text-align: center;

    }
    .question-content{
        padding: 0 10px;
        max-height: 0;
        overflow-y: scroll;
        transition: max-height 0.5s;
    }
    .single-question-div {
        // border-bottom: 1px solid black;
        padding: 5px
    }
    li {
        display: block;
        list-style: none;
        width: 100%;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;

        input[type="radio"] {
            display: none;
        }
        input[type="radio"]:checked + .question-content{
            max-height: 300px;
        }
    }

    label {
        padding: 10px;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        span {
            transform: rotate(90deg);
            font-size: 22px;
        }
    }
}