@import '../../index.scss';

/* Header and Navigation */
.header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 400;
    display: flex;
    justify-content: center;
}

.navigation ul {
    padding-left: 0;
}

.mobile-nav {
    display: none;
}

.link-el {
    font-size: 1.25em;
    font-family: $primaryFont;
    display: inline;
    display: block;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    color: $secondaryColor;
    display: inline-block;
    margin-right: 20px;
}

.link-el:hover {
    color: $primaryColor;
}

.link-el a {
    text-decoration: none;
    font-size: 1.25em;
}

nav a.active {
    color: var(--font-color);
    cursor: pointer;
}

.navIsActive {
    color: var(--main-color)
}

/* styles for all sections */
.section {
    margin-top: 9%;
}

/* media queries */
@media screen and (max-width: 990px) {
    #homepage-title h1 {
        font-size: 8vw;
    }

    .navigation {
        display: none;
    }

    .mobile-nav {
        padding: 0.5em;
        display: flex;
        align-items: center;

    }

    .mobile-nav .hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
        color: var(--main-color);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: $tertiaryColor;
        border-radius: 0 0 0 8px;
        z-index: 999;
    }

    nav ul li {
        padding-left: 10%;
        padding-bottom: 20px;
    }

    .link-el {
        font-size: 1.1em;
        margin-bottom: 2px;

    }
}