@import '../../index.scss';

main {
    padding: 2rem;
    width: 100%;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    section {
        margin: 0 auto;
        border: 1px solid; 
    }
}