@import '../../index.scss';

#main-gamepage {
    padding: 2rem;
    margin: 0 auto;

    h1 {
        font-size: 2rem;
        text-align: center;
        color: $tertiaryColor;
        font-family: $pointNumber;
        margin-bottom: 15px;
        border-bottom: 1px solid $tertiaryColor;
        padding-bottom: 10px;
    }

    #gameBoard {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    #main-gamepage {
        width: 800px
    }
}
