@import '../../index.scss';

#landing-page-main {
    padding: 10px 20px;
    margin-bottom: 50px;

    .landing-page-section {
        margin-bottom: 20px;
        padding-bottom: 40px;
        border-bottom: 5px solid $gray;
    }

    .landing-page-txt-div {
        width: 60%;
        text-align: right;
        margin-top: 10%;
        margin-right: 30px;
        padding: 10px;
        border-top: 2px solid $secondaryColor;
        border-bottom: 2px solid $secondaryColor;
        margin-bottom: 28%;

        h2 {
            font-family: $pointNumber;
            color: $tertiaryColor;
            margin-bottom: 10px;
            font-size: 2em;
        }
        p {
            line-height: 1.2;
            font-size: 1.1em;
            color: $tertiaryColor;
        }
    }

    .landing-page-pic {
        width: 100%;
        flex-basis: 1;
    }
    #landing-page-middle-section {
        margin-left: 20px;
        margin-right: 0;
        margin-top: 150px;
    }
    .bordered-pic {
        border: 1px solid $tertiaryColor;
    }
}


@media screen and (max-width: 840px) {
    .landing-page-section {
        flex-direction: column;
    }
    #landing-page-main {
        padding: 0;

        .landing-page-txt-div {
            width: 100%;
            padding: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .landing-page-pic {
            width: 80%;
            display: block;
            margin: 0 auto;
            flex-basis: 1;
        }

        .landing-page-txt-div {
            margin-bottom: 5%;
            margin-top: 5%;
            background-color: white;
            
            h2 {
                font-size: 1.3em;
            }
            p {
                font-size: 1em;
            }
        }
        #landing-page-middle-section {
                margin-top: 5%;
                margin-left: 0;
            }
            #middle-section {
                flex-direction: column-reverse;
        }


    }
    
}