@import '../../index.scss';

#canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid $tertiaryColor;
}

.bonus-buttons {
    font-size: 1.3em;
    position: relative;
    bottom: 20px;
    border: none;
    display: block;
    margin: 20px auto;
    padding: 8px 40px;
    border-radius: 4px;
    font-weight: 700;
    background-color: $red;
    color: $primaryColor;
    transition: all .2s;
}

.bonus-buttons:hover {
    background-color: $tertiaryColor;
}

.bonus-buttons:active {
    border-radius: 8px;
}

#next-player-btn {
    background-color: green;
    transition: all .2s;
}
#next-player-btn:hover {
   color: $tertiaryColor;
}

#next-player-btn:active {
    border-radius: 8px;
}

.bonus-text {
    font-size: 1.2em;
    font-weight: 700;
    color: $tertiaryColor;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

#got-bonus-text {
    color: green;
    font-size: 1.3em;
}

#no-bonus-text {
    color: $red;
    font-size: 1.3em;
}

#bonus-title {
    font-size: 2rem;
    text-align: center;
    color: $tertiaryColor;
    font-family: $pointNumber;
    margin-bottom: 45px;
    border-bottom: 3px solid $secondaryColor;
    padding-bottom: 10px;
}

#number-multiplier {
    position: absolute;
    color: $secondaryColor;
    -webkit-text-stroke: 5px rgb(32, 32, 156);
    font-family: $pointNumber;
    top: 20%;
    right: 38%;
    animation: appear 1s;
    font-size: 10em;
    opacity: 1;
}
#end-game-bonus {
    font-size: 1.3em;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 700;
    background-color: $gray;
    color: $tertiaryColor;
    transition: all .2s;
}
#end-game-bonus:hover {
    background-color: $secondaryColor;
}
#end-game-bonus:active {
    border-radius: 8px;
}
#end-game-link {
    text-decoration: none;
}



@media screen and (max-width: 1220px) {
    #number-multiplier {
        position: absolute;
        color: $secondaryColor;
        -webkit-text-stroke: 5px rgb(32, 32, 156);
        font-family: $pointNumber;
        top: 20%;
        right: 34%;
        animation: appear 1s;
        font-size: 10em;
        opacity: 1;
    }
}
@media screen and (max-width: 1040px) {
    #number-multiplier {
        position: absolute;
        color: $secondaryColor;
        -webkit-text-stroke: 5px rgb(32, 32, 156);
        font-family: $pointNumber;
        top: 20%;
        right: 31%;
        animation: appear 1s;
        font-size: 10em;
        opacity: 1;
    }
}
@media screen and (max-width: 890px) {
    #number-multiplier {
        position: absolute;
        color: $secondaryColor;
        -webkit-text-stroke: 5px rgb(32, 32, 156);
        font-family: $pointNumber;
        top: 15%;
        right: 25%;
        animation: appear 1s;
        font-size: 10em;
        opacity: 1;
    }
}
@media screen and (max-width: 520px) {
    #number-multiplier {
        position: absolute;
        color: $secondaryColor;
        -webkit-text-stroke: 5px rgb(32, 32, 156);
        font-family: $pointNumber;
        top: 15%;
        right: 8%;
        animation: appear 1s;
        font-size: 10em;
        opacity: 1;
    }
}

@keyframes appear {
    from {
        top: 50%;
        right: 50%;
        opacity: 0;
        font-size: 0;
    }
    to {
        font-size: 10em;
        opacity: 1;
    }
}