@import '../../index.scss';

#player-input-section {
    text-align: center;
    padding: 30px 0;
    margin: 40px 10%;
    border: 5px solid $tertiaryColor;
    border-radius: 4px;
    background-color: white;

    h2 {
        margin-bottom: 30px;
        font-family: $pointNumber;
        color: $secondaryColor;
    }
    #ball-speed-title {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 1.4em;
    }

    .radio-div-ball-speed {
        label {
            font-size: 1.2em;
            font-weight: 700;
            color: $tertiaryColor;
            display: block;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 15px;
        }
        input {
            margin-bottom: 15px;
        }
        input:hover {
            cursor: pointer;
        }
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }
    
        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: $secondaryColor;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }
    }

    .player-input-button {
        display: block;
        margin: 0 auto;
        padding: 8px 40px;
        font-size: 1.3em;
        margin-top: 30px;
        border: 1px solid $tertiaryColor;
        border-radius: 4px;
        background-color: $secondaryColor;
        font-weight: 700;
    }
    .player-input-button:hover {
        color: white;
        cursor: pointer;
    }
    .player-input-button:active {
        color: $gray;
        border: 1px solid transparent;
    }
    #player-count {
        font-size: 1.6em;
        width: 60px;
        text-align: center;
        border-radius: 4px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        background-color: $tertiaryColor;
        color: $secondaryColor;

        option {
            background-color: blue;
        }
    }
    #player-amount-form {
        label {
            font-size: 1.3em;
            color: $tertiaryColor
        }
        #error {
            display: block;
            margin-top: 20px;
            color: $red;
        }
    }
    .player-names-input {
        font-size: 1.6em;
        text-align: center;
        border-radius: 4px;
        padding: 10px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        background-color: $tertiaryColor;
        color: $secondaryColor;
    }
    .player-names-input:first-child {
        
    }
}

@media screen and (max-width: 480px) {
    #player-input-section {
        .player-names-input {
            font-size: 1em;
        }
    }
}
