@import '../../index.scss';

#password-reset-form {
    margin-top: 80px;

    input[type="text"], input[type="password"] {
        width: 100%;
        margin: 20px auto;
    }
    input[type="checkbox"] {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        accent-color: $secondaryColor;
    }
    #show-password-div {
        text-align: left;
        label {
            color: $gray;
            font-size: 1.1em;
        }
    }
    button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
}
#show-password {
    color: red
}