@import '../../index.scss';

.pagination-ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;

    .chevron {
        font-size: 1.43em;
        padding-top: 3px; 
    }

    li {
        list-style-type: none;
        button {
            border: 1px solid black;
            font-size: 1.7em;
            padding: 0 10px;
            background-color: white;
            font-weight: 700;
            color: $tertiaryColor;
        }
    }
    button:hover {
        cursor: pointer;
        color: $secondaryColor;
    }
    button.currentPaginate {
        background-color: $secondaryColor;
        cursor: default;
    }
    button.currentPaginate:hover {
        color: $tertiaryColor
    }
    button.disabled-chevron {
        color: $gray;
    } 
    button.chev-left {
        border-radius: 4px 0 0 4px;
    }
    button.chev-right {
        border-radius: 0 4px 4px 0;
    }
    button.disabled-chevron:hover { 
        cursor: default; 
    }
}