@import '../../index.scss';

#home-logo {
    border-radius: 5px;
    width: 200px;
    opacity: 1;
}

#main-header {
    width: auto;
    margin: 0 auto;
    background-color: $tertiaryColor;
    padding: 0 20px;
    margin-bottom: 30px;
    height: 100px;
    align-items: center;
    flex-wrap: wrap;

    a {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        text-decoration: none;
        color: $secondaryColor;
        display: inline-block;
        margin-right: 20px;
        
    }
    button {
        background-color: $secondaryColor;
        padding: 5px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
        color: $tertiaryColor;
        transition: .2s;
    }
    button:hover {
        color: $primaryColor;
        cursor: pointer;
    }
    button:active {
        border-radius: 8px;
    }
    #signup-login-link {
        color: $secondaryColor;
        font-size: 1.3rem;
        font-weight: 700;
    }
    #signup-login-link:hover {
        cursor: pointer;
        font-style: italic;
    }
    #signup-login-link:active {
        color: $gray;
    }
}

@media screen and (max-width: 498px) {
    #home-logo {
        width: 150px;
    }
}