@import '../../index.scss';

#mygames-main {
    h1 {
        margin-bottom: 10px;
        font-family: $pointNumber;
        font-size: 1.8em;
        text-align: center;
        color: $tertiaryColor;
        margin: 50px auto;
        margin-top: 60px;
        padding: 0;
        width: 90%;
        font-size: 1.7em;
        line-height: 0.1rem;
        border-bottom: 3px solid $secondaryColor;
        span {
            background: $primaryColor;
            color: $tertiaryColor;
            padding: 0 10px;
            margin: 0 auto;
        }
    }
    #search-library-games {
        display: block;
        width: 90%;
        padding:8px;
        font-size: 1.2rem;
        color: $tertiaryColor;
        border-radius: 4px;
        border: 1px solid $tertiaryColor;
        font-family: $primaryFont;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #search-library-games:focus {
        outline: 2px solid $secondaryColor;
        border: 1px solid transparent;
    }
    div {
        align-items:center;
    }
    #my-games-card {
        border: 5px solid $tertiaryColor;
        width: 90%;
        margin-bottom: 30px;
        border-radius: 4px;
        padding: 10px;
        background-color: white;

        h4 {
            font-size: 1.8em;
            margin-right: 20px;
            word-break: break-word;
        }

        #play-btn {
            display: block;
            color: $tertiaryColor;
            margin-right: 20px;
            margin-bottom: 10px;
            font-size: 1.5em;
        }
        #play-btn:hover {
            color: $secondaryColor;
        }
        #play-btn:active {
            color: $gray;
        }

        #edit-btn {
            font-size: 1.6em;
            color: $tertiaryColor;
            border: none;
            background-color: white;
        }
        #edit-btn:active {
            color: $gray;
        }
        #edit-btn:hover {
            color: $secondaryColor;
            cursor: pointer;
        }
        #my-games-info-div {
            border-top: 1px solid $secondaryColor;
            color: $gray;
            padding-top: 20px;
            margin-top: 10px;
            flex-wrap: wrap;
        }
    }
}